:root {
  --stack-margin: 1.5em;
  --bg-color: #607d8b;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
  --cell-bg-color: #37474f;
  --cell-X-color: #3498db;
  --cell-O-color: #e74c3c;
  --winner-cell-bg-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  user-select: none;
  border: none;
  cursor: pointer;
}

.vertical-stack > * + * {
  margin-top: var(--stack-margin);
}

.horizontal-stack > * + * {
  margin-left: var(--stack-margin);
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

.game-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-status {
  font-size: 1.5rem;
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(3, 5rem);
  grid-template-columns: repeat(3, 5rem);
  gap: 0.5rem;
  justify-content: center;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cell-bg-color);
  font-size: 1.5rem;
}

.grid-cell.X {
  color: var(--cell-X-color);
}

.grid-cell.O {
  color: var(--cell-O-color);
}

.grid-cell.winner {
  background-color: var(--winner-cell-bg-color);
  font-weight: bold;
}

.restart-btn {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 4px;
  background-color: var(--bg-color);
}

.game-score {
  display: flex;
  --stack-margin: 2rem;
}

.game-score-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-score-display .score-label {
  width: 5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-bottom: 2px solid black;
}
