:root {
  --body-bg-color: #c9edff;
  --game-container-bg-color: beige;
  --grid-lines-color: #00334c;
  --winner-cell-bg-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  user-select: none;
  border: none;
  cursor: pointer;
}

.vertical-stack,
.horizontal-stack {
  --stack-margin: 1em;
}

.vertical-stack > * + * {
  margin-top: var(--stack-margin);
}

.horizontal-stack > * + * {
  margin-left: var(--stack-margin);
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 0.25rem;
  border: 2px solid black;
  background-color: var(--game-container-bg-color);
  --stack-margin: 1.5rem;
}

.game-score {
  display: flex;
}

.score-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-cell .score-label {
  width: 5rem;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  text-align: center;
  border-bottom: 2px solid black;
}

.game-status {
  font-size: 1.5rem;
}

.game-status > p {
  display: none;
}

.game-grid {
  display: grid;
  grid-template-rows: repeat(3, 5rem);
  grid-template-columns: repeat(3, 5rem);
  gap: 0.25rem;
  justify-content: center;
  background-color: var(--grid-lines-color);
}

.grid-cell {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  background-color: var(--game-container-bg-color);
}

.grid-cell.X {
  color: var(--cell-X-color);
}

.grid-cell.O {
  color: var(--cell-O-color);
}

.grid-cell.winner {
  background-color: var(--winner-cell-bg-color);
  font-weight: bold;
}

.btn {
  padding: 6px 8px;
  border-radius: 2px;
  color: white;
  background-color: #441893;
}

.restart-btn {
  --stack-margin: 2rem;
}

.menu {
  width: 320px;
  height: 250px;
  padding: 1rem;
  background-color: aqua;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls button {
  --stack-margin: 2rem;
  align-self: center;
}
